---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { SITE, HOME } from "@consts";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import PublicationCard from "@components/PublicationCard.astro";
import SocialIcons from "@components/SocialIcons.astro";

const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

const publications: CollectionEntry<"publications">[] = (
  await getCollection("publications")
)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PUBLICATIONS_ON_HOMEPAGE);
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
    <div class="flex items-center gap-4">
      <img
        src="/images/profile_pictures.png"
        alt="Rouven"
        class="w-24 h-24 rounded-full object-cover border-2 border-gray-300 dark:border-gray-600"
      />
      <h1 class="animate font-semibold text-black dark:text-white">
        Hi, I'm Rouven - Researcher at the BIH
      </h1>
    </div>
      <div class="space-y-16">
        <section>
          <article class="space-y-4">
            <span class="animate">
              <p>
                In research, because I believe knowledge should be produced for the benefit of everybody.
              </p>
              <p>
                Currently, part of the Robinson Group and building tools in rust to make Phenopackets more accessible.
                I will soon start research on the topic of phenotyping and Bipolar Disorder.
              </p>
            </span>
          </article>
        </section>


      <section class="animate space-y-6">
          <span class="animate">
            <h4 class="font-semibold text-black dark:text-white">
              Open Source Work
            </h4>
            <article>
              <ul class="not-prose flex flex-col gap-1 overflow-y-auto max-h-[150px] scroll_bar">
                <li><a href="https://github.com/P2GX/PhenoXtract" target="_blank">phenoxtract</a> - Converts Tabular data to Phenopackets</li>
                <li><a href="https://github.com/SmartMonkey-git/phenolint" target="_blank">phenolint</a> - Performs validation checks on Phenopackets</li>
                <li><a href="https://github.com/SmartMonkey-git/securiety" target="_blank">securiety</a> - Rust crate to validate CURIE IDs</li>
                <li><a href="https://github.com/P2GX/ontology-registry" target="_blank">ontology-registry</a> - Fetch and persist ontology files from the OBO Foundry.</li>
              </ul>
            </article>
          </span>
        </section>

        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              Latest posts
            </h2>
            <Link href="/blog"> See all posts </Link>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            {
              blog.map((post) => (
                <li>
                  <ArrowCard entry={post} />
                </li>
              ))
            }
          </ul>
        </section>

        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              News
            </h2>
          </div>
          <ul class="not-prose flex flex-col gap-4 overflow-y-auto max-h-[150px] scroll_bar">
            <li>[03.02.2026]: Will hold a presentation at <a href="https://www.gif.org.il/workshops/" target="_blank">GYSM</a> (23.-25.02.2026)</li>
            <!-- <li>[06/2024]: Your <span class="text-red-600">News2</span></li>
            <li>[06/2024]: Your <span class="text-red-600">News2</span></li> -->
          </ul>
        </section>


        <section class="animate space-y-6">
          <span class="animate">
            <h4 class="font-semibold text-black dark:text-white">
              If you’ve got a story, I’ve got the time.
            </h4>
            <article>
              <p>
                If you have anything to share, we might cooperate — so drop me a mail or message on one of the following channels.
              </p>
            </article>
            <SocialIcons icon_size={'text-3xl'} />
          </span>
        </section>

      </div>
    </aside>
  </Container>
</Layout>
